# common

TEST_DEBUG=on

# fs
TEST_FS_TEST=on
DAL_FS_ROOT=/tmp/

# s3
DAL_S3_TEST=on
DAL_S3_BUCKET=test
DAL_S3_ENDPOINT="http=//127.0.0.1:9000"
DAL_S3_ACCESS_KEY_ID=minioadmin
DAL_S3_SECRET_ACCESS_KEY=minioadmin